.teams {
  flex: 1 1;
}

.wrapper {
  display: inline-flex;
  align-items: center;
}

.name {
  display: block;
  margin-bottom: 0 !important;
  margin-right: 1rem !important;
}

.home,
.away,
.separator {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .home {
    text-align: right;
  }

  .away {
    text-align: left;
  }

  .wrapper {
    flex-direction: column;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .teams {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .home,
  .away,
  .separator {
    padding: 0.2rem !important;
  }
}
