.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home,
.away,
.separator {
  text-align: center;
}

.label {
  display: inline-flex !important;
  flex-grow: 1;
  align-items: center;
  white-space: pre;
}

.fieldDetail {
  flex-basis: 100%;
  margin-top: 1.5em;
}

@media screen and (min-width: 576px) {
  .label {
    align-self: flex-start;
    flex: 0 1 auto;
  }

  .home {
    text-align: right;
  }

  .away {
    text-align: left;
  }

  .fieldDetail {
    padding: 0 2em;
  }
}

.teams {
  flex-grow: 1;
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .teams {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .home,
  .away,
  .separator {
    padding: 0.2rem !important;
  }
}
