.nextMatchTitle {
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 1.1em;
}

.nextMatch {
  max-width: 900px;
  margin: 0 auto !important;
  padding: 3em !important;
}

@media screen and (max-width: 576px) {
  .nextMatch {
    padding: 2em 1em !important;
  }
}
